<div class="card-panel teal lighten-5" style="box-shadow: 0 0 0 rgba(0,0,0,0); border">
  <div class="container center">
    <img src={{image}} alt="Avatar" class="responsive-img circle" style="width: 35%">
    <h3>{{name}}</h3>
  </div>
</div>
<h6>Your Recent Stories:</h6>
{{#if stories}}
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td><a href="/stories/{{_id}}">{{title}}</a></td>
      <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td>
        <a href="/stories/edit/{{_id}}" class="btn btn-float">
          <i class="fas fa-edit fa-fw"></i>
        </a>

        <form action="/stories/{{_id}}" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn red">
            <i class="fas fa-trash fa-fw"></i>
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="center" style="margin-top: 50px;">
  <div style="font-size: 2rem;">
    <i class="fa fa-th-large" aria-hidden="true" style="font-size: 4rem;"></i>
    <p>It Looks Like You Have No Stories Yet, Add One Now!</p>
  </div>
</div>
{{/if}}